*.pyc
data_cv2/
__pycache__/
checkpoints/
*.pth
*.jpg
venv/
.idea/
wandb/
mri_data/test/attention_dense_unet_isa_results/
mri_data/test/attention_dense_unet_results/
mri_data/test/attention_unet_isa_results/
mri_data/test/attention_unet_results/
mri_data/test/multiple_attention_unet_results/
mri_data/test/optimised_attention_unet_results/
mri_data/test/unet_2plus_results/
mri_data/test/unet_3plus_results/
mri_data/feature_maps
