*.pyc
data_cv2/
__pycache__/
checkpoints/
*.pth
*.jpg
venv/
.idea/
wandb/
trained_model_params/
mri_data/feature_maps/
mri_data/imgs/
mri_data/masks/
mri_data/test/
mri_data/train_split/
mri_data/test_split/
data/imgs/
data/masks/
data/test/
data/train/
